version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: rafiqui
      POSTGRES_PASSWORD: rafiqui_pass
      POSTGRES_DB: rafiqui_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
